.bg-hf {
  background-image: linear-gradient(to right, #789090, #787878);
}

.logos {
  width: 150px;
  height: 150px;
}

li {
  list-style-type: none;
  color: blanchedalmond;
}

.fs-80 {
  font-size: 70px;
  justify-items: center;
  font-family: "Handlee", cursive;
  font-weight: bolder;
  color: rgb(228, 21, 6);
}

main {
  margin: 0%;
  padding: 0%;
  padding-bottom: 10px;
}

.ptop20 {
  padding-top: 30px;
}

.pb20 {
  padding-bottom: 20px;
}

.carrousel {
  align-items: center;
}

.encabezado {
  text-align: center;
  text-size-adjust: 200px;
  font-size: 80px;
  color: #a8c090;
}

.fontVAP {
  font-family: "Handlee", cursive;
  font-size: auto;
  font-weight: bold;
  color: #f0d8a8;
}

a {
  text-decoration-style: none;
  color: rgb(49, 48, 45);
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
}

.fs-20 {
  font-size: 25px;
  color: #f0d8a8;
}

.cards {
  align-items: center;
}

.p0 {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
}

.contactosfooter {
  width: "10px";
  height: "10px";
}

.img-fluid {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1023px) {
  .fs-70 {
    font-size: 80px;
  }
  .textoProductos {
    font-size: 20px;
  }
  .fs-20productos {
    font-size: 22px;
  }
  hr {
    color: white;
  }
  .gridMainNosotros {
    display: grid;
    grid-template-areas: "tituloNosotros tituloNosotros" "textoHistoria foto" "objetivoimg objetivotexto ";
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
  }
  .gridMainNosotros .tituloNosotros {
    grid-area: tituloNosotros;
  }
  .gridMainNosotros .textoHistoria {
    grid-area: textoHistoria;
  }
  .gridMainNosotros .foto {
    grid-area: foto;
  }
  .gridMainNosotros .objetivotexto {
    grid-area: objetivotexto;
  }
  .gridMainNosotros .objetivoimg {
    grid-area: objetivoimg;
  }
}
@media only screen and (max-width: 768px) {
  .fs-70 {
    font-size: 40px;
  }
  a {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  .textoProductos {
    font-size: 15px;
  }
  .logos {
    width: 75px;
    height: 75px;
  }
  .logofooter {
    width: 95px;
    height: 95px;
  }
  hr {
    color: crimson;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
}
.img-rrss {
  width: 50px;
  height: auto;
}

.logofooter {
  padding-left: 15px;
  width: 170px;
  height: 170px;
}

.mail {
  font-weight: bold;
}

footer {
  font-family: "Handlee", cursive;
}

.textoProductos {
  text-align: center;
  font-family: "Handlee", cursive;
  padding-top: 65px;
  background-image: radial-gradient(#f0d8a8, transparent);
}

.colortip {
  color: crimson;
  font-size: 25px;
  font-family: "Handlee", cursive;
  font-weight: bolder;
}

.tiplinks {
  color: blue;
  font-size: larger;
}

.textsubtitle {
  font-size: 20px;
}

.tipcore {
  font-size: 20px;
  font-family: "Handlee", cursive;
}

.bg-tip {
  background-image: linear-gradient(to top, #f0d8a8, transparent);
}

header {
  background-image: linear-gradient(to right, #789090, #787878);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
header nav {
  padding: 10px;
  margin-top: 15px;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
header nav ul li {
  padding: 10px;
  font-size: 40px;
}
header nav ul li a {
  color: #f0d8a8;
  font-size: 25px;
  transition: all 2s;
}

.logo {
  width: 150px;
  height: 150px;
}

.grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}
.grid header {
  grid-area: header;
}
.grid main {
  grid-area: main;
}
.grid footer {
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
  }
  header nav {
    padding: 0%;
    margin-top: 0%;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding: 10px;
    font-size: 15px;
  }
  .logo {
    width: 100px;
    height: 100px;
    padding-top: 5px;
  }
  .gridMainNosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
  }
}
.objetivoimg {
  width: 150px;
  height: auto;
  padding-left: 0px;
  margin: 20px;
}

.tituloNosotros {
  text-align: center;
  color: rgb(228, 21, 6);
  font-size: 30px;
}

.foto {
  width: 256px;
  height: auto;
  padding-left: 90px;
  margin-left: 90px;
}

.textoHistoria {
  font-family: "Handlee", cursive;
  font-weight: bolder;
  color: rgb(228, 21, 6);
  text-align: center;
  border-style: groove;
  border-right-color: #789090;
}

/*# sourceMappingURL=style.css.map */
