.colortip{
    color: crimson;
    font-size: 35px;
    font-family: "Handlee", cursive;
    font-weight: bolder;
}
.tiplinks{
    color: blue;
    font-size: larger;
}
.textsubtitle{
    font-size: 25px;
}
.tipcore{
    font-size: 20px;
    font-family: "Handlee", cursive;
}
.bg-tip{
    background-image:linear-gradient(to top, #b6d1b9, transparent) 
}